
<div id="contact" class="row justify-content-center pb-3">
    <div class="col-sm-12 text-center">
        <h3>Contact</h3>
    </div>
    <div class="col-sm-6 text-center text-white">
        <p><strong>Musée du louvre</strong></p>
        <p>75058 Paris CEDEX 01, France</p>
    </div>
    <div class="col-sm-6 text-center text-white mb-4">
        <p>info@louvre.fr</p>
        <p>+ 33 (0)1 40 20 50 50</p>
    </div>
</div>