
<div id="contact" class="row justify-content-center rounded">
    <div class="col-lg-12 text-center">
        <h3>Contact</h3>
    </div>
    <div id="card" class="col-lg-4 text-center border border-primary bg-primary text-white pt-3 rounded">
        <p><strong>Musée du louvre</strong></p>
        <p>75058 Paris CEDEX 01, France</p>
    </div>
    <div id="card" class="col-lg-4 text-center border border-primary bg-primary text-white pt-3 rounded">
        <p>info@louvre.fr</p>
        <p>+ 33 (0)1 40 20 50 50</p>
    </div>
</div>