<div class="container-fluid" id="footer">
    <div class="row">
        <div class="col-sm-12">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="nav-link" href="#">Mentions légales</a>
            </nav>
        </div>
    </div>
</div>