<div id="price" class="row justify-content-center rounded">
    <div class="col-12 text-center">
        <h3>Tarifs</h3>
    </div>
    <div id="card" class="col-10 col-md-4 text-center border border-primary bg-primary text-white pt-3 rounded">
        <p>Tarif normal : 16€</p>
    </div>
    <div id="card" class="col-10 col-md-4 text-center border border-primary bg-primary text-white pt-2 rounded">
        <p>Tarif enfant de 4 à 12 ans : 8€ </br> (Gratuit pour les moins de 4 ans)</p>
    </div>
    <div id="card" class="col-10 col-md-4 text-center border border-primary bg-primary text-white pt-3 rounded">
        <p>Tarif sénior à partir de 60 ans : 12€</p>
    </div>
    <div id="card" class="col-10 col-md-4 text-center border border-primary bg-primary text-white pt-2 rounded">
        <p>Tarif réduit (étudiant, employé du musée, service du ministère de la culture, militaire...) : 10€</p>
    </div>
    <div id="card" class="col-10 col-md-4 text-center border border-primary bg-primary text-white pt-3 mb-4 rounded">
        <p>Billets à la journée ou en demi-journée à partir de 14h</p>
    </div>
</div>