<div id="time" class="row justify-content-center rounded">
    <div class="col-12 text-center">
        <h3>Horaires</h3>
    </div>
    <div id="card" class="col-8 text-center border border-primary bg-primary text-white pt-4 pb-4 mb-4 rounded">
        <p>Le musée est ouvert tous les jours sauf le mardi de 9h à 18h. <br/> Ouverture de 9h à 21h45 le mercredi et le vendredi.</p>
    </div>
</div>