{% extends 'base.html.twig' %}

{% block title %}Création d'une commande{% endblock %}

{% form_theme form 'booking/_collection.html.twig' %} {#_self représente le fichier actuel#}

{% block body %}

    <div class="container">

        {{ form_start(form) }}

        {{ form_widget(form) }}

        <button type="submit" class="btn btn-primary">Commander</button>

        {{ form_end(form) }}
    </div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/booking.js') }}"></script>
{% endblock %}