{% extends 'base.html.twig' %}

{% block title %}Validation de commande{% endblock %}

{% block body %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 text-center">
            <h2>Merci pour votre commande</h2>
            <p>Vous allez recevoir un email de confirmation avec vos tickets à présenter lors de votre venue.<br>
            Si vous avez des tickets avec tarif réduit, n'oubliez pas de montrer votre justificatif.<br>
            Bonne visite.</p>
        </div>
    </div>
</div>

{% endblock %}