body
{
    background-image: url("/assets/fond_louvre.jpg");
    background-repeat: no-repeat center center;
    background-size: cover;
    margin: 0;
}
.page
{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.site-content
{
    flex: 1;
}
#navbar-menu
{
    font-size: 20px;
}
h2
{
    margin-top: 125px;
    margin-bottom: 80px;
    color: white;
}
h3
{
    margin-top: 30px;
    margin-bottom: 30px;
    color: white;
}
h4
{
    color: white;
}
#carouselExampleIndicators
{
    margin-bottom: 40px;
    border: 2px solid black;
    height: 414px;
    width: 600px;
}
#time, #price
{
    background-color: #303030;
    margin-top: 120px;
    padding-top: 60px;
    padding-bottom: 120px;
}
#contact
{
    background-color: #303030;
    margin-top: 120px;
    padding-top: 80px;
    padding-bottom: 180px;
}
#booking
{
    background-color: #303030;
    margin-top: 120px;
    margin-bottom: 200px;
    padding-top: 200px;
    padding-bottom: 200px;
}
.datepicker table tr td.disabled, .datepicker table tr td.disabled:hover {
    color: firebrick;
}
#card
{
    margin: 10px;
    font-size: 18px;
}
#home-text
{
    margin-top: 50px;
    font-size: 20px;
}
#bookingButton{
    font-size: 30px;
}
#monBouton
{
    font-size: 40px;
}
#footer
{
    margin-top: 10px;
}
#footer nav a
{
    color: white;
}

/*----------CSS Stripe---------*/
.StripeElement
{
    box-sizing: border-box;
    height: 40px;
    padding: 10px 12px;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: white;
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
}
.StripeElement--focus
{
    box-shadow: 0 1px 3px 0 #cfd7df;
}
.StripeElement--invalid
{
    border-color: #fa755a;
}
.StripeElement--webkit-autofill
{
    background-color: #fefde5 !important;
}