body
{
    background-image: url("/assets/fond_louvre.jpg");
    background-repeat: no-repeat center center;
    background-size: cover;
    margin: 0;
}
.page
{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.site-content
{
    flex: 1;
}
h2
{
    margin-top: 150px;
    margin-bottom: 50px;
    color: white;
}
h3
{
    margin-top: 30px;
    margin-bottom: 30px;
    color: white;
}
h4
{
    color: white;
}
#carouselExampleIndicators
{
    margin-bottom: 40px;
    border: 2px solid black;
    height: 414px;
    width: 600px;
}
#contact, #time, #price
{
    background-color: #303030;
    margin-top: 100px;
}
#booking
{
    margin-top: 200px;
    margin-bottom: 200px;
}
#card
{
    margin: 10px;
    border-radius: 10px;
}
#home-text
{
    margin-top: 50px;
}
#monBouton
{
    font-size: 2em;
}
#footer
{
    margin-top: 10px;
}
#footer nav a
{
    color: white;
}

